DATABASE_URL="file:./dev.db"
APP_BASE_URL="http://localhost:3000"
APP_TIMEZONE="Asia/Tokyo"
LINE_CHANNEL_ACCESS_TOKEN=""
LINE_CHANNEL_SECRET=""
LINE_GROUP_ID=""
LINE_MOCK_MODE="true"
CRON_SECRET="change-me"
